/* Slideshow */
#slideShow {
  position: relative;
}

#slideShow .slide {
  position: relative;
  width: 100%;
}

#slideShow .slide img {
  width: 100%;
}

#slideShow .prev,
#slideShow .next {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  top: 190px;
  color: white;
}

#slideShow .prev {
  left: 0;
}

#slideShow .next {
  right: 0;
}

#slideShow .prev:hover,
.next:hover {
  background-color: black;
  color: white;
}

#slideShow .slide {
  display: none;
}

#slideShow .indicator {
  position: absolute;
  bottom: 35px;
  left: 624px;
}

#slideShow .indicator .dot {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
}

#slideShow .indicator .active,
.dot:hover {
  background-color: red !important;
}
